<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li></li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Acerca de nosotros</a>
                    </li>
                    <li>
                        <a href="#">Portafolio</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>