<section>
    <div class="container">

        <div id="conceptos" class="contenedor">
            <h2>
                Conceptos 
            </h2>
            <ul class="box-lista">
                <li>  Internet & WWW </li>
                <li>  Protocolo HTTP </li>
                <li>  Clientes Web, Servidores Web y Servidores de aplicaciones </li>
                <li>  Aplicaciones Web e Interfaces Web </li>
                <li>  Lenguajes y Tecnologías de Programación Web </li>
                <li>  SaaS </li>
                <li>   Cloud computing </li>
            </ul>
        </div>

        <div id="tecnologias" class="contenedor">
            <h2>Lenguajes de programación y tecnologías</h2>
            <ul class="box-lista">
                <li>  HTML5, XML, XHTML, CSS, XSLT  </li>
                <li>  SASS, LESS  </li>
                <li>  Estándares Web  </li>
                <li>  Responsive design  </li>
                <li>  Accesibilidad y usabilidad.  </li>
                <li>  HTML5,PHP y MySQL  </li>
                <li>  PHP MySQL Y AJAX  </li>
                <li>  JavaScript  </li>
                <li>  Estructuras de Programación  </li>
                <li>  Funciones JavaScript  </li>
                <li>  POO JavaScript  </li>
                <li>  Clases y herencia  </li>
                <li>  Formularios  </li>
                <li>  Controles y eventos  </li>
                <li>  UI, UX y Rich Interface  </li>
                <li>  DHTML  </li>
                <li>  Applications  </li>
                <li>  DOM  </li>
                <li>  Extensiones  </li>
                <li>  Multimedios  </li>
                <li>  TypeScript  </li>
                <li>  Servidor Node Js  </li>
                <li>  Aplicaciones Interactivas  </li>
                <li>  Programación reactiva REDUX  </li>
                <li>  Ruteo SPA  </li>
                <li>  API REST JSON  </li>
                <li>  No SQL indexed DB  </li>
    
            </ul>
        </div>
       

       <div class="contenedor">
        <h2>
            Herramientas
        </h2>

        <ul class="box-lista">
            <li> Herramientas web 2.0 </li>
            <li> Publicación y presentación con herramientas web 2.0 </li>
            <li> Sistemas de Manejo de Contenido (CMS Content Management Systems) </li>
            <li> Web services </li>
            <li> Arquitectura Orientada a Servicios (SOA - Service Oriented Architecture) </li>
            <li> Frameworks </li>

        </ul>
       </div>
    </div>
</section>